.row{
  display: block;
 
}

.squere{
  /* font-size:70px; */
 
  display: inline-block;
  width:80px;
  height:80px; 
}

input{
  margin:4px;
  border: 1px rgb(89, 89, 230) solid;
  font-size:20px;
}